h1{
    color:black
}



body{
    margin: auto;
    border-radius: 234px;
    border-style: groove;
    border-color: black;
    text-align: center;
    color: beige;
    background-color: darkgray
    
}
.para1{
    background-color:black
}
