.sidebar{
    background-color:darkgray;
    color:white;
    width: 250px;
    height: 100%;
    position: fixed;
    padding-top: 30px;
    top: 0;
    bottom: 0;


}
ul{
    list-style: circle;
    margin: 5px;
    padding: 13px;
}
li{
    padding:10px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
   

}
a{
    text-decoration: none;
    
}

 a:hover{
    background-color: whitesmoke;
    color:peru
}
.rounded-image{
    width: 200px;
    height: 199px;
    border-radius: 234px;
    border-color: black;
    overflow-y: none;
}
.my_name{
    font-size: 20px;
    color: black;


}
.main content{
    margin-left: 300px;
    border: groove 1px black;
    padding-left: 50px;

}
.introduction{
    font-size: 20px;
    margin-left: 300px;

}
.introduction-text{
    font-size: 20px;
    
}
.sidebar a{
    color:peru ;
}
.contact-me{
    color: black;

    font-size:22px; 
    padding: 10px;
    text-align: center;
    
}

.contact-me a{
    border-radius: 3px;
    padding: 8px;
    text-decoration: none;
    background-color: black ;
    border: solid 1px;



}
.contact-me a:hover{
    background-color: black;
    color:gray;

}
.readmore{
    padding:10px;
    color: black;
    font-weight: bold;
    padding:12px ;
    text-align: center;
   
}
.readmore a{
    border-radius: 1px;
    border: dashed;
    border-color: black;
    background-color: black;
    color:brown;
}

.contact{ 
    border: 2px solid black;
    text-align:center;
    padding: 20px;
    width: 500px; 
    font-size: 30px;
    background-color: azure;
    margin:auto;
    height: 100%;

   
      
}
body{
    background-color:antiquewhite;
    border: groove 2px black;
}
.contaact{
    margin:300px;
    font-size: 40px;

}
.work{
    font-size:20px;
    margin-left:150px;
    padding: 45px;
    
}
.images{
    width:250px;
    padding-top: 45px;
}
.pics{
    width:250px;
    padding-top: 45px;
}
.pic{
    width:300px;
    padding-top:45px;
}
.robot{
    width:300px;
    padding-top: 45px;
}


